.board {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
  }

  .card {
    height: 140px;
    width: 140px;
    border-radius: 10px;
    margin: 20px;
    background-color: lightblue;
    transition: all 0.3s ease;
    cursor: pointer;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }

  .card:hover {
    transform: scale(1.1);
    background-color: blue;
  }